// VARIABLES
$colorPrimary: #0074D9;

// $colorGray1: #444;
// $colorGray2: #aaa;
// $colorGray3: #ccc;
// $colorGray4: #f0f0f0;
// $colorGray5: #f9f9f9;

$colorGray1: #1E2939;
$colorGray2: #3C495C;
$colorGray3: #626E80;
$colorGray4: #D4D9DF;
$colorGray5: #F7F9FA;
// $colorGray4: #9DA5B1;
// $colorGray5: #D4D9DF;
// $colorGray6: #F7F9FA;

$colorStatusTodo:     $colorPrimary;
$colorStatusDoing:    #39b54a;
$colorStatusDone:     #ff931e;
$colorStatusAccepted: #a952a5;

$fontFamilyBase: "helvetica neue", helvetica, arial, sans-serif;
$fontSizeBase: 16px;

// HELPERS
@mixin ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin status($property) {
  .status_0 & {
    #{$property}: $colorStatusTodo;
  }

  .status_1 & {
    #{$property}: $colorStatusDoing;
  }

  .status_2 & {
    #{$property}: $colorStatusDone;
  }

  .status_3 & {
    #{$property}: $colorStatusAccepted;
  }
}

// ANIMATIONS need that autoprefixer!
@-webkit-keyframes new-item {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

// RESET
* {
  appearance: none;
  box-sizing: border-box;
  background-color: transparent;
  border: 0;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
}

// BASE
html,
body {
  color: $colorGray1;
  font-family: $fontFamilyBase;
  font-size: $fontSizeBase;
  line-height: 1.5;
}

html {
  background-color: $colorGray5;
  min-height: 100%;
}

a {
  color: $colorPrimary;
  cursor: pointer;
}

input[type="text"],
textarea {
  display: block;
  background-color: darken($colorPrimary, 10%);
  line-height: 1.5em;
  padding: 0.5em 1em;
  width: 100%;
  margin: 0.25em 0 1em;
  font-size: 1em;
  color: $colorGray5;

  &:focus {
    background-color: $colorGray5;
    color: $colorGray1;
  }
}

textarea {
  line-height: 1;
  min-height: 4em;
}

::-webkit-input-placeholder {
  color: $colorPrimary;
}

::-moz-placeholder {
  color: $colorPrimary;
}

label {
  font-size: 0.75em;
  text-transform: uppercase;
}

button,
input[type="submit"] {
  border: 1px solid;
  display: inline-block;
  color: $colorGray5;
  cursor: pointer;
  line-height: 2em;
  font-weight: bold;
  padding: 0 1em;

  &:hover {
    background-color: $colorGray5;
    color: $colorPrimary;
    border-color: $colorGray5;
  }
}

.null {
  color: $colorGray3;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.container {
  @include clearfix;
  margin: 0 auto;
  max-width: 75%;
  position: relative;
}

.brand {
  color: $colorPrimary !important;
  font-weight: bold;
  text-transform: uppercase;
}

a.block.add-item {
  $size: 3em;
  position: fixed;
  right: 0.75em;
  bottom: 0.75em;
  width: $size;
  height: $size;
  background-color: $colorPrimary;
  border: 0;
  color: white;
  margin-right: 0;
  z-index: 1;
}

// HEADER
.header {
  background-color: white;
  border-bottom: 1px solid $colorGray4;
  height: 3em;
  line-height: 3em;

  a {
    color: $colorGray3;

    &:hover {
      color: $colorPrimary;
    }
  }
}

.nav {
  float: left;

  a {
    margin-right: 1em;
  }
}

.user {
  float: right;
  font-weight: bold;
}

// THEMES
.theme {
  @include clearfix;
  cursor: pointer;
  padding: 1em 0 1em;
  position: relative;

  &:hover {
    color: $colorPrimary;
  }
}

.theme__priority {
  user-select: none;
  border: 1px solid;
  color: $colorGray2;
  display: block;
  float: left;
  height: 3em;
  margin: 0.5em 1em 0 0;
  text-align: center;
  width: 2em;

  &:hover {
    color: $colorPrimary;
  }
}

.theme__priority__arrow {
  display: block;
  position: relative;
  top: 2px;
}

.theme__priority__count {
  font-size: 0.75em;
  position: relative;
  top: -4px;
}

.theme__body {
  float: left;
  max-width: 80%;
  overflow: auto;
}

.theme__description {
  color: $colorGray2;

  .theme:hover & {
    color: inherit;
  }
}

.task-thumb {
  float: right;
}

.task-thumb__column {
  background-color: $colorGray4;
  color: $colorGray3;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 1em;

  .theme:hover & {
    background-color: $colorGray3;
    color: $colorPrimary;
  }
}

// THEME HEADER
.theme-header {
  background-color: white;
  border-bottom: 1px solid $colorGray4;
  position: relative;
  padding-bottom: 1em;
}

.pagination__link {
  $size: 3em;
  position: absolute;
  top: 50%;
  width: $size;
  height: $size;
  color: $colorGray3;
  line-height: $size;
  margin-top: -($size / 2);
  text-align: center;

  &:hover {
    background-color: $colorGray4;
    color: $colorPrimary;
  }

  &.prev {
    left: 1em;
  }

  &.next {
    right: 1em;
  }

  &.menu {
    left: 4em;
  }
}

.tabs {
  margin-bottom: -1px;
}

.tab {
  border-bottom: 1px solid transparent;
  color: $colorGray2;
  display: inline-block;
  font-weight: bold;
  line-height: 2em;
  margin-right: 1em;

  &:hover {
    color: $colorPrimary;
  }

  &.is-selected {
    color: $colorPrimary;
    border-color: $colorPrimary;
  }
}

// TOOLBAR
.toolbar {
  @include clearfix;
  border-bottom: 1px solid $colorGray4;
  line-height: 3em;
  padding: 0 1em;
}

.boards-toggle {
  font-weight: bold;
  padding-right: 1em;
}

.toolbar__section {
  float: left;
  height: 4em;
  padding: 0.45em 0.5em 0.5em 0;

  ~ .toolbar__section {
    // border-left: 2px solid $colorGray4;
    padding-left: 0.5em;
  }
}

.block {
  $size: 3em;
  border: 1px solid;
  color: $colorGray2;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: $size;
  line-height: $size;
  min-width: $size;
  text-align: center;

  &:hover {
    color: $colorPrimary;
  }

  &.small {
    font-size: 0.75em;
  }

  &.medium {

  }

  &.large {
    font-size: 1.25em;
  }

  ~ .block {
    margin-left: 0.25em;
  }
}

a.block {
  color: $colorPrimary;
}

.search {
  color: $colorGray2;
  font-style: italic;
  padding-left: 0.5em;
  width: 33.33%;
}

// TASK COLUMNS
.columns {
  @include clearfix;
  padding: 0.5em;
}

.column {
  float: left;
  padding: 0.5em;
  width: 25%;
}

.column__header {
  color: $colorGray2;
  margin-bottom: 0.5em;
}

.column__body {
  @include clearfix;
  // background-color: $colorGray4;
  // border: 1px solid $colorGray3;
  // padding: 0.25em;

  .null {
    display: block;
    padding: 1em 0;
    text-align: center;
  }
}

// TASKS
.task {
  background-color: white;
  border: 1px solid $colorGray4;
  line-height: 1.3;
  position: relative;

  ~ .task {
    margin-top: 0.5em;
  }

  &.status_0 {
    border-color: $colorStatusTodo;
    color: $colorStatusTodo;
  }

  &.status_1 {
    border-color: $colorStatusDoing;
    color: $colorStatusDoing;
  }

  &.status_2 {
    border-color: $colorStatusDone;
    color: $colorStatusDone;
  }

  &.status_3 {
    border-color: $colorStatusAccepted;
    color: $colorStatusAccepted;
  }
}

.task__status-bar {
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  // @include status(background-color);
}

.task__body {
  padding: 0.5em;
}

.task__footer {
  @include clearfix;
  padding: 0.5em;
}

.task__container {
  float: left;
}

.task__action {
  @include status(color);
  float: right;
  font-weight: bold;

  &:hover {
    @include status(background-color);
    color: white;
    border-color: transparent;
  }
}

// NEW ITEM
.new-item {
  width: 600px;
  background-color: $colorPrimary;
  color: $colorGray5;
  font-weight: bold;
  position: fixed;
  right: 0.9em;
  bottom: 0.9em;
  transform-origin: 100% 100%;
  -webkit-animation: new-item 0.2s ease-in; // Autoprefix
  z-index: 101;
}

.new-item__tabs {
  @include clearfix;
}

.new-item__tab {
  display: block;
  float: left;
  line-height: 3em;
  width: 50%;
  text-align: center;
  background-color: darken($colorPrimary, 10%);

  &:hover,
  &.is-selected {
    color: $colorGray5;
  }

  &.is-selected {
    background-color: transparent;
  }
}

.new-item__body {
  padding: 1em;
}

.new-item__background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
