@import ".meteor/local/build/programs/server/assets/packages/bstocks_bourbon/bourbon";

// VARIABLES
$color-primary: #0074D9;

$color-gray-1: #222;
$color-gray-2: #aaa;
$color-gray-3: #ddd;
$color-gray-4: #f0f0f0;
$color-gray-5: #f9f9f9;

$font-family-base: $helvetica;
$font-size-base: 16px;

// HELPERS
@mixin ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// RESET
* {
  @include appearance(none);
  @include box-sizing(border-box);
  background-color: transparent;
  border: 0;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

// BASE
html,
body {
  color: $color-gray-1;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.5;
}

html {
  background-color: $color-gray-5;
  min-height: 100%;
}

a {
  color: $color-primary;
  cursor: pointer;
}

button {
  border: 1px solid $color-primary;
  color: $color-primary;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em;

  &:hover {
    background-color: $color-primary;
    color: white;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.container {
  @include clearfix;
  margin: 0 auto;
  max-width: 75%;
  position: relative;
}

// HEADER
.header {
  @include position(fixed, 0 0 null 0);
  background-color: rgba(white, 0.9);
  border-bottom: 1px solid $color-gray-4;
  height: 3em;
  line-height: 3em;
}

// ITEMS
.item {
  @include clearfix;
  cursor: pointer;
  padding: 1em 3em 1em 0;
  position: relative;

  &:hover {
    color: $color-primary;
  }
}

.item__priority {
  float: left;
  height: 4em;
  margin-right: 1em;
}

.item__body {
  overflow: auto;
}

.item__description {
  color: $color-gray-2;

  .item:hover & {
    color: inherit;
  }
}

// THEME HEADER
.theme-header {
  background-color: white;
  border-bottom: 1px solid $color-gray-3;
  margin-top: 3em;
  position: relative;
}

.pagination__link {
  $size: 3em;
  @include position(absolute, 50% null null null);
  @include size($size);
  color: $color-gray-3;
  line-height: $size;
  margin-top: -($size / 2);
  text-align: center;

  &:hover {
    background-color: $color-gray-4;
    color: $color-primary;
  }

  &.prev {
    left: 1em;
  }

  &.next {
    right: 1em;
  }
}

// TOOLBAR
.toolbar {
  @include clearfix;
  background-color: $color-gray-4;
  border-bottom: 1px solid $color-gray-3;
}

.toolbar__section {
  float: left;
  padding: 0.5em 0.5em 0.5em 0;

  ~ .toolbar__section {
    border-left: 1px solid $color-gray-3;
    padding-left: 0.5em;
  }
}

.block {
  @include size(3em);
  border: 1px solid;
  color: $color-gray-2;
  cursor: pointer;
  display: inline-block;
  line-height: 3em - 0.25em;
  margin-right: 0.25em;
  text-align: center;

  &:hover {
    color: $color-primary;
  }
}

a.block {
  color: $color-primary;
}

.search {
  color: $color-gray-2;
  font-style: italic;
  line-height: 3em;
  width: 33.33%;
}

a.add-item {
  @include position(absolute, -1.5em 0 null null);
  @include size(3em);
  background-color: $color-primary;
  color: white;
}


// TASKS
.tasks {

}

.task {
  background-color: white;
  border: 1px solid $color-gray-3;
  float: left;
  margin: 1% 2% 1% 0;
  padding: 1em;
  width: 31.33%;

  .item__priority,
  .item__description {
    display: none; // make this a helper
  }
}
