@import ".meteor/local/build/programs/server/assets/packages/wolves_bourbon/bourbon";

$color: #0074D9; // Temp color
$black: #222;
$gray: #AAA;
$gray-light: #DDDDDD;
$gray-lighter: #F0F0F0;

$fontFamilyBase: "proxima nova", $helvetica;
$fontSizeBase: 16px;

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

* {
  @include box-sizing(border-box);

  // Stupid reset
  @include appearance(none);
  background-color: transparent;
  border: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

html,
body {
  color: $black;
  font-family: $fontFamilyBase;
  font-size: $fontSizeBase;
  line-height: 1.5;
}

a {
  color: $color;
  cursor: pointer;
}

button {
  border: 1px solid $color;
  color: $color;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em;

  &:hover {
    background-color: $color;
    color: white;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.container {
  max-width: 75%;
  margin: 0 auto;
  position: relative;

  .show-chat & {
    margin-left: 1em;
  }
}

.team {
  margin-top: 3em;
  padding: 1em 0;
  border-bottom: 1px solid $gray-light;
}

.search {
  width: 33.33%;
  border-left: 1px solid $gray-light;
  @include position(absolute, 0 0 0 null);
  padding-left: 1em;
  font-style: italic;
  color: $gray;
  line-height: 3em;
}

.block {
  @include size(3em);
  border: 1px solid;
  color: $gray;
  cursor: pointer;
  line-height: 3em;
  margin-right: 0.5em;
  text-align: center;
  display: inline-block;

  &:hover {
    color: $color;
  }
}

.header {
  @include position(fixed, 0 0 null 0);
  background-color: rgba(white, 0.9);
  border-bottom: 1px solid $gray-light;
  height: 3em;
  line-height: 3em;
  z-index: 100;
}

.item {
  @include clearfix;
  cursor: pointer;
  padding: 1em 3em 1em 0;
  position: relative;

  &:hover {
    color: $color;
  }
}

.item__priority {
  float: left;
  margin-right: 1em;
  height: 4em;
}

.item__body {
  overflow: auto;
}

.item__title {

}

.item__description {
  color: $gray;

  .item:hover & {
    color: inherit;
  }
}

.chat {
  @include size(25% 100%);
  @include position(fixed, 3em 0 0 null);
  background-color: $gray-lighter;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em;
  z-index: 200;

  ~ .content {
    padding-left: 1em;
    @include transform(translateX(-12%));
  }
}

.chat__input {
  @include position(absolute, null 1em 1em 1em);
  background-color: $gray-lighter;
  font-size: 1em;
  height: 3em;
  line-height: 1em;
  padding: 1em;

  &:focus {
    background-color: white;
    box-shadow: inset 0 0 0 1px $color, 0 0 0 3px rgba($color, 0.2);
  }
}

.theme-header {
  @include position(fixed, 3em 0 null 0);
  background-color: rgba(white, 0.95);
  z-index: 100;

  .theme {
    border-bottom: 1px solid $gray-light;
  }

  .team {
    margin-top: 0;
  }
}

.add-task {
  @include position(fixed, null 1em 1em null);
  @include size(3em);
  background-color: white;
}

.tasks {
  margin-top: 14em;
}

.task {
  width: 31.33%;
  margin: 1% 2% 1% 0;
  float: left;
  border: 1px solid $gray-light;
  padding: 1em;

  .item__priority,
  .item__description {
    display: none; // make this a helper
  }
}
