@import ".meteor/local/build/programs/server/assets/packages/wolves_bourbon/bourbon";

$color: #0074D9; // Temp color
$black: #222;
$gray: #AAA;
$gray-light: #DDDDDD;
$gray-lighter: #F0F0F0;

$fontFamilyBase: "proxima nova", $helvetica;
$fontSizeBase: 16px;

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

* {
  @include box-sizing(border-box);

  // Stupid reset
  @include appearance(none);
  background-color: transparent;
  border: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

html,
body {
  color: $black;
  font-family: $fontFamilyBase;
  font-size: $fontSizeBase;
  line-height: 1.5;
}

a {
  color: $color;
  cursor: pointer;
}

button {
  border: 1px solid $color;
  color: $color;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em;

  &:hover {
    background-color: $color;
    color: white;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.container {
  max-width: 75%;
  margin: 0 auto;
}

.sidebar {
  @include position(fixed, 4em null 0 12.5%);
}

.block {
  @include size(3em);
  border: 1px solid;
  color: $gray;
  cursor: pointer;
  line-height: 3em;
  margin-bottom: 0.5em;
  text-align: center;

  &:hover {
    color: $color;
  }
}

.themes {
  margin-top: 3em;
  padding-left: 4em;
}

.header {
  @include position(fixed, 0 0 null 0);
  background-color: rgba(white, 0.9);
  border-bottom: 1px solid $gray-light;
  height: 3em;
  line-height: 3em;
  z-index: 9999;
}

.item {
  @include clearfix;
  cursor: pointer;
  padding: 1em 3em 1em 0;
  position: relative;

  &:hover {
    color: $color;
  }
}

.item__priority {
  float: left;
  margin-right: 1em;
  height: 4em;
}

.item__body {
  overflow: auto;
}

.item__title {

}

.item__description {
  color: $gray;

  .item:hover & {
    color: inherit;
  }
}

.item__toggle-chat {
  @include position(absolute, 1em 0.5em 1em null);
  color: rgba($color, 0.5);
  display: none;
  font-size: 2em;
  height: 1em;
  line-height: 1em;

  &:hover {
    color: $color;
  }

  .item:hover & {
    display: inline-block;
  }
}

.chat {
  @include size(25% 100%);
  @include position(fixed, 3em 0 0 null);
  background-color: $gray-lighter;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em;

  ~ .themes {
    margin-right: 25%;
    padding-left: 5em;
  }

  ~ .sidebar {
    left: 1em;
    margin: 0;
  }
}

.chat__input {
  @include position(absolute, null 1em 1em 1em);
  background-color: $gray-lighter;
  font-size: 1em;
  height: 3em;
  line-height: 1em;
  padding: 1em;

  &:focus {
    background-color: white;
    box-shadow: inset 0 0 0 1px $color, 0 0 0 3px rgba($color, 0.2);
  }
}

.single-theme {
  @include position(fixed, 3em null null 0);
  border-bottom: 1px solid $gray-light;
  width: 100%;
  background-color: rgba(white, 0.9);
  z-index: 9999;

  .item__priority {
    margin-right: 2em;
  }
}

.tasks {
  margin-top: 9em;

  .sidebar {
    top: 10em;
  }

  .item {
    padding-left: 4em;
  }
}
