.tabs {
  margin-bottom: -1px;
}

.tab {
  border-bottom: 1px solid transparent;
  color: $colorGray2;
  display: inline-block;
  font-weight: bold;
  line-height: 2em;
  margin-right: 1em;

  &:hover {
    color: $colorPrimary;
  }

  &.is-selected {
    color: $colorPrimary;
    border-color: $colorPrimary;
  }
}
