// VARIABLES
$colorPrimary: #0074D9;

$colorGray1: #1E2939;
$colorGray2: #3C495C;
$colorGray3: #626E80;
$colorGray4: #D4D9DF;
$colorGray5: #F7F9FA;

$colorStatusTodo:     $colorPrimary;
$colorStatusDoing:    #39b54a;
$colorStatusDone:     #ff931e;
$colorStatusAccepted: #a952a5;

$fontFamilyBase: "helvetica neue", helvetica, arial, sans-serif;
$fontSizeBase: 16px;
